@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gistesy";
  src: url("../public/fonts/Gistesy.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

input:-webkit-autofill {
  border-color: rgb(30 41 59);
  -webkit-text-fill-color: rgb(241 245 249) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(25, 39, 52) inset;
}

input:-webkit-autofill:focus {
  border-color: rgb(30 41 59);
  -webkit-box-shadow: 0 0 0px 1000px rgb(21, 32, 43) inset;
}
